# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Large model files (DO NOT PUSH)
*.pth
*.pt
*.onnx
*.onnx.data

# Environment variables
.env

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
